.wrapper {
    display: flex;
    height: 100%;
}

.main {
    overflow-y: auto;
    flex-grow: 1;

    padding: 20px;
}

.side-panel-toggle {
    flex-shrink: 0;
    display: grid;
    place-items: center;

    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;

    cursor: pointer;

    color: var(--p1Color-lightGrey);
    background: var(--p1Color-green);
}

.side-panel-toggle:hover {
    background: var(--p1Color-darkGreen);
}

.sp-icon-close {
    display: initial !important;
}

.side-panel {
    display: initial;
    width: 600px;
    flex-shrink: 0;
    padding: 20px;
    background: var(--p1Color-green);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.side-panel-open .side-panel {
    display: none;
}

.side-panel-open .sp-icon-open {
    display: initial !important;
}

.side-panel-open .sp-icon-close {
    display: none !important;
}

.sp-icon-open {
    display: none;
}